td {
  width: 5%;
}

.container {
  width: 70%;
}

.form-inputs,
.quota-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form-inputs__right,
.form-inputs__left {
  width: 40%;
}

.input {
  margin: 20px 0;
}

.form-inputs__button-save,
.button-calculate {
  float: right;
  margin: 20px 0;
}

.button-plus {
  margin-bottom: 20px 0;
}

.quota {
  font-size: 20px;
  font-weight: bold;
}