td {
  width: 5%;
}

.switch {
  width: 15rem;
}

.container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.form-inputs,
.quota-form,
.person-voice {
  display: flex;
  justify-content: space-between;
}

.candidate-info {
  display: flex;
  justify-content: space-around;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  float: left;
}

.person-voice {
  align-items: center;
}

.name-candidate {
  margin: 0 0 0 20px;
}

.form-inputs__right, 
.form-inputs__left {
  width: 40%;
}

.input {
  margin: 20px 0;
}

.form-inputs__button-save,
.button-calculate,
.button-list,
.add-candidates-to-table {
  float: right;
  margin: 20px 0;
}

.button-plus {
  margin-bottom: 20px 0;
}

.quota {
  font-size: 20px;
  font-weight: bold;
}

.candidates-list {
  margin-top: 100px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
  height: auto;
}

.candidate-info__name {
  width: 30%;
}

.candidate-info__district {
  width: 20%;
}

.candidate-info__number {
  width: 20%;
}

.candidate-plus {
  margin-left: 5%;
}

.button-cancel,
.button-save {
  float: right;
  margin: 0 5%;
  margin-top: 40px;
}

