body, #app {
  background-color: #effbf3 !important;
  min-height: 96vh;
}
td {
  width: 5%;
}
body{
  width: 100%;
}

table{
  font-size: 1vw;
  
}

@media (min-width: 992px){
    .container, .container-sm, .container-md, .container-lg {
      max-width: 100vw !important;
  }
}

@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 100vw !important;
      min-height: 100vh;
  }
}

a, .grey {
  color: #00b140 !important;
}

.btn-primary {
  border-color: #00b140 !important;
  background-color: #00b140 !important;
}

.btn-outline-primary {
  color: #00b140 !important;
  border-color: #00b140 !important;
}

.btn-outline-primary:hover {
  background-color: #00b140 !important;
  color: #fff !important;
  border-color: #00b140 !important;
}


.container{
  margin: 0 !important;
}

form{
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.switch {
  width: 15rem;
}

.form-inputs,
.quota-form,
.person-voice {
  display: flex;
  justify-content: space-between;
}

.candidate-info {
  display: flex;
  justify-content: space-around;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  float: left;
}

.person-voice {
  align-items: center;
}

.name-candidate {
  margin: 0 0 0 20px;
}

.form-inputs__right, 
.form-inputs__left {
  width: 40%;
}

.input {
  margin: 20px 0;
}

.form-inputs__button-save,
.button-calculate,
.button-list,
.add-candidates-to-table {
  float: right;
  margin: 20px 0;
}

.button-plus {
  margin-bottom: 20px 0;
}

.quota {
  font-size: 20px;
  font-weight: bold;
}

.candidates-list {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: .25rem;
  padding-bottom: 60px;
  background-color: #effbf3;
  border: 1px solid #00b140;
  border-radius: 5px;
  height: auto;
}

nav-tabs {
  overflow-x: auto;
}

.candidate-info__name {
  width: 30%;
}

.candidate-info__district {
  width: 20%;
}

.candidate-info__number {
  width: 20%;
}

.candidate-plus {
  margin-left: 5%;
}

.button-cancel,
.button-save {
  float: right;
  margin: 0 5%;
  margin-top: 40px;
}

.error {
  color: red;
  margin-top: -10px;
}

.results-item.row{
  margin-bottom: 1rem;
}

.results-header.row{
  margin-bottom: 1rem;
}

.Title {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #00b140;
}

.Copyrating {
    height: 30px;
}